.dashboard-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f0f4f8;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 125px;
  left: 740px;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.todo-section {
  margin-top: 20px;
}

.todo-section input {
  padding: 5px 8px;
  width: 70%;
  margin-right: 5px;
}

.todo-section button {
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 8px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}

